<h1>Site#home</h1>
<p>Find me in app/views/site/home.html.erb</p>
<p>oi</p>

<% if user_signed_in? %>
	<%= link_to 'Deslogar Usuário', destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to 'Logar Usuário', new_user_session_path%>
<% end %>